<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Database=;Server=;User Id=;password="/>
    
    <add key="HangFire" value="Data Source=(localdb)\MSSQLLocalDB; database=Gestao_Clientes; Integrated Security=SSPI;persist security info=True" />
  </appSettings>
</configuration>
